{$WATCHDOG_DOMAIN} {
  tls {
    issuer acme {
      preferred_chains {
        root_common_name "ISRG Root X1"
      }
    }
  }

  encode zstd gzip
  reverse_proxy backend:3000

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "no-referrer"
    -Server
  }
}

fireman119.xyz {
  tls {
    issuer acme {
      preferred_chains {
        root_common_name "ISRG Root X1"
      }
    }
  }

  encode zstd gzip
  reverse_proxy website:80

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    -Server
  }
}
