{$WATCHDOG_DOMAIN}, api.fireman119.xyz {
  tls {
    issuer acme {
      preferred_chains {
        root_common_name "ISRG Root X1"
      }
    }
  }

  encode zstd gzip
  reverse_proxy backend:3000

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "no-referrer"
    -Server
  }
}

fireman119.xyz {
  tls {
    issuer acme {
      preferred_chains {
        root_common_name "ISRG Root X1"
      }
    }
  }

  encode zstd gzip
  handle_path /ota/* {
    root * /srv/ota
    header /latest.json Cache-Control "no-store, max-age=0"
    file_server
  }
  handle {
    reverse_proxy website:80
  }

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    -Server
  }
}
